body {
  max-width: 100%;
  margin: 0;
}

a {
  text-decoration: none;
  display: inline-block;
}

.left-container {
  width: 15%;
  height: 100%;
  font-size: 21px;
  background-color: #242a30;
  position: fixed;
  z-index: 999999999999999;
  left: 0;
  top: 0;
  height: 100vh;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-right: 2px solid rgba(255, 255, 255, 0.05);
}

.left-container img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.left-container .icon-middle {
  border-bottom: 2px solid rgba(255, 255, 255, 0.05);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.left-container .icon-middle h4 {
  margin-top: 5px;
  margin-bottom: 5px;
  color: white;
}

.left-container nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.left-container nav ul {
  padding-left: 0;
}

.left-container nav ul li {
  margin-top: 10px;
  list-style: none;
}

.left-container nav ul li a {
  width: 180px;
  color: white;
  opacity: 0.5;
  padding: 2px;
}

.left-container nav ul li a i {
  margin-right: 15px;
}

.left-container nav ul li a span {
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
}

.left-container nav ul li :hover {
  color: white;
  background-color: gray;
  opacity: 1;
}

.container {
  width: 85%;
  height: 100%;
  margin-left: 15%;
}

.container .content {
  background-image: url(https://i.ytimg.com/vi/Jf85bs9NFCU/maxresdefault.jpg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.container .content .ptit {
  margin-bottom: 330px;
  color: red;
  opacity: 0.7;
  position: absolute;
  left: 25%;
  top: 40px;
}

.container .content .image img {
  width: 700;
  height: 400px;
}

.container .content .title {
  color: blue;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  left: 25%;
  top: 40%;
}

.container .perform {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 80vh;
  background-color: #242a30;
}

.container .perform .student {
  margin: 20px;
  margin-right: 150px;
}

.container .perform .student .avatar img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.container .perform .student .about {
  margin-top: 20px;
}

.container .perform .student .about div {
  color: white;
  opacity: 0.7;
  font-size: 20px;
  margin-top: 5px;
}
/*# sourceMappingURL=index.css.map */